/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* test if this css is applied */
html {
  background-color: #cfcfcf;
  display: flex;
  min-height: 100vh;
  padding: 1rem;
}

body {
  flex: 1;
  background-color: #b94545;
  padding: 1rem;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  flex-direction: column;
  display: flex;
}

img {
  height: 2rem;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: #00ff6a;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: #ffa66a;
  }
}
